@media print {
  @page {
    size: landscape;
    margin: 0.5in;
  }
}

* {
  font-family: "Arial", sans-serif;
}

table {
  font-size: 8pt;
  width: 100%;
  border-collapse: collapse;
}

table :nth-child(odd) {
  font-family: "Courier New", monospace;
}

table .align-right {
  text-align: right;
}

table td, table th {
  padding: 0;
  margin: 0;
}

table th {
  text-align: left;
  font-size: 8pt;
}

table th.title, table th.subtitle {
  color: #0099FF;
}

table th.title {
  font-size: 12pt;
}
