.page-break {
  page-break-before: always;
}

@media print {
  @page {
    size: landscape;
    margin: 0.5in;
  }
  body {
    overflow: visible;
  }
  tr {
    page-break-inside: avoid;
  }
}

@media screen {
  body {
    margin: 20px;
  }
  table {
    max-width: 11in;
    margin: 0 auto;
  }
}

* {
  font-family: "Arial", sans-serif;
}

table {
  font-size: 8pt;
}

table td:nth-child(odd):not(.sans-serif), table .monospace {
  font-family: "Courier New", monospace;
}

table th {
  text-align: left;
  font-size: 8pt;
}

table th.title {
  font-size: 12pt;
}

.align-right {
  text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td, table th {
  padding: 0;
  margin: 0;
  height: 0.15in;
}

table th.title, table th.subtitle {
  color: #0099FF;
}

table p {
  margin: 0;
  padding: 0;
}
