table {
    width: 100%;
    border-collapse: collapse;

    td, th {
        padding: 0;
        margin: 0;
        height: 0.15in;
    }

    th {
        &.title, &.subtitle {
            color: #0099FF;
        }
    }

    p {
        margin: 0;
        padding: 0;
    }
}

