* {
    font-family: "Arial", sans-serif;
}

table {
    font-size: 8pt;

    td:nth-child(odd):not(.sans-serif), .monospace {
        font-family: "Courier New", monospace;
    }

    th {
        text-align: left;
        font-size: 8pt;

        &.title {
            font-size: 12pt;
        }
    }
}

.align-right {
    text-align: right;
}
